/builds/clonio-linux-x86_64
/builds/clonio-linux-aarch64
/builds/clonio-macos-aarch64
/builds/*.zip
/vendor
/.idea
/.vscode
/.vagrant
.phpunit.result.cache
.env
/storage/framework/testing/*
/storage/logs/*.log
