/builds
/vendor
/.idea
/.vscode
/.vagrant
.phpunit.result.cache
.env
/storage/framework/testing/*
/storage/logs/*.log
/clonio.json
# TLS matrix rehearsal PKI (.github/tls/make-certs.sh certs)
/certs
.DS_Store
/.worktrees
