includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:

    paths:
        - app
        - bootstrap
        - config


    level: max

    tmpDir: /tmp/phpstan

    ignoreErrors:
        -
            message: "#^Anonymous function should return bool but returns mixed\\.$#"
            count: 1
            path: app/Commands/Cloning/ColumnEditCommand.php
